.profile__edit-button {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 10px;
  background-image: url(../../../images/Vector-1.svg);
  background-color: black;
  background-position: center;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  position: absolute; /* родительский блок(profile__info) имеет свойство width: max-content. Если изменится контент, ширина родителя, на которого ориентируется absolute, подстроится */
  top: 15px;
  right: -42px;
}

.profile__edit-button:focus {
  outline: none;
}

@media screen and (max-width: 552px) {
  .profile__edit-button {
    background-size: 7.5px;
    width: 18px;
    height: 18px;
    top: 7px;
    right: -25px;
  }
}