.profile__edit-button {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-image: url(../../../images/Vector-1.svg);
  background-position: center;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  margin-left: 18px;
}