.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-top: 36px;
  flex-wrap: wrap;
}

@media screen and (max-width: 918px) {
  .profile {
    width: 88%;
  }
}
