.header {
  display: flex;
  justify-content: flex-start;
  max-width: 880px;
  width: 100%;
  padding: 45px 0 41px;
}

@media screen and (max-width: 918px) {
  .header {
    width: 88%;
  }
}

@media screen and (max-width: 552px) {
  .header {
    padding: 28px 0 31.6px;
  }
}
