.profile__add-button {
  background-image: url(../../../images/Vector.svg);
  background-position: center;
  background-size: 22px;
  background-repeat: no-repeat;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  margin-left: auto;
}

@media screen and (max-width: 753px) {
  .profile {
    width: 88%;
  }
}