.profile__add-button {
  background-image: url(../../../images/Vector.svg);
  background-position: center;
  background-size: 22px;
  background-repeat: no-repeat;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  grid-area: add-button;
}

@media screen and (max-width: 807px) {
  .profile__add-button  {
    width: 100%;
    justify-self: center;
  }
}

@media screen and (max-width: 532px) {
  .profile__add-button  {
    width: 100%;
    max-width: 282px;
    justify-self: center;
    background-size: 16px;
  }
}