.pop-up__form {
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 430px;
  max-height: 330px;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 468px) {
  .pop-up__form {
    width: 88%;
    max-height: 322px;
  }
}