.pop-up__form-text-input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 0;
}

.pop-up__form-text-input:focus {
  outline: none;
}