.pop-up__close-button {
  position: absolute;
  right: -49px;
  top: -49px;
  width: 56.5px;
  height: 56.5px;
}

@media screen and (max-width: 552px) {
  .pop-up__close-button  {
    right: 0;
    top: -49px;
    width: 36.7px;
    height: 36.7px;
  }
}