.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 10px;
}

@media screen and (max-width: 552px) {
  .profile__name {
    font-size: 27px;
    line-height: 1.2;
    text-align: center;
  }
}