@import url(/vendor/normalize.css);
@import url(/blocks/common/common.css);
@import url(/blocks/page/page.css);

@import url(/blocks/pop-up/pop-up.css);
@import url(/blocks/pop-up/__title/);
@import url(/blocks/pop-up/__input-container/);
@import url(/blocks/pop-up/__form/pop-up__form.css);
@import url(/blocks/pop-up/__form-item/pop-up__form-item.css);
@import url(/blocks/pop-up/__form-container/pop-up__form-container.css);
@import url(/blocks/pop-up/__form-button/pop-up__form-button.css);
@import url(/blocks/pop-up/__close-button/pop-up__close-button.css);

@import url(/blocks/header/header.css);
@import url(/blocks/header/__image/header__image.css);

@import url(/blocks/main/main.css);

@import url(/blocks/profile/profile.css);
@import url(/blocks/profile/__name/profile__name.css);
@import url(/blocks/profile/__info/profile__info.css);
@import url(/blocks/profile/__edit-button/profile__edit-button.css);
@import url(/blocks/profile/__avatar/profile__avatar.css);
@import url(/blocks/profile/__add-button/profile__add-button.css);
@import url(/blocks/profile/__about/profile__about.css);

@import url(/blocks/elements/elements.css);
@import url(/blocks/elements-table/elements-table.css);
@import url(/blocks/elements-table/__place-name/elements-table__place-name.css);
@import url(/blocks/elements-table/__like-button/elements-table__like-button.css);
@import url(/blocks/elements-table/__image/elements-table__image.css);
@import url(/blocks/elements-table/__element/elements-table__element.css);

@import url(/blocks/footer/footer.css);
@import url(/blocks/footer/__copyright/footer__copyright.css);