.profile__info {
  display: flex;
  flex-direction: column;
  margin: 0;
  grid-area: info;
  position: relative;
  width: max-content;
  max-width: 520px;
}

@media screen and (max-width: 552px) {
  .profile__info {
    align-items: center;
    max-width: 189px;
  }
}