.elements-table__element {
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 282px;
  min-width: 225.6px;
  min-height: 288.8px;
  max-height: 361px;
}